<article class="message is-small column">
    <div class="message-header is-primary level">
        <p>Posted By: {{posted_by}}</p>
        <br>
        <p class="level-right">{{format_time createdAt}}</p>
    </div>
    <div class="message-body">
        {{comment_text}}
    </div>
</article>