<section class="column">
    <div class="card">
    <a href ="/post/{{id}}">
    <header class="card-header">
        <p class="card-header-title">
            {{title}}
        </p>
        <div class="card-content">
            <div class="content">
               {{text}}
            </div>
        </div>
        <footer class="card-footer">
      {{created_at}}
        </footer>
    </div>
    </a>
</section>