<div class="container ">
    <a href="/dashboard/post/{{id}}">
        <div class="notification is-primary level">
            <p>{{title}}</p>
            <p class="level-right">{{format_time created_at}}</p>
        </div>
    </a>
</div>
<br>