<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">


        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    HOME
                </a>

                <a class="navbar-item">
                    DASHBOARD
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a id="logout" class="button is-light">
                            Log out
                        </a>

                        <a id="login" href='/login' class="button is-primary">
                            <strong>Log in</strong>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-centered">
        <h1 class="title is-1 is-centered">Tech Blog</h1>
    </div>
<div class="box column">
        <h2 class="title is-3 is-full">my dashboard</h2>
</div>

<div class="box">
<div class="container">
    <a href="">
    <div class="notification is-primary level">
       <p>TITLE OF POST</p> <p class="level-right" >DATE</p>
    </div></a>
</div>
</div>
<button class="button is-medium">ADD POST</button>
</body>

</html>