<form class="box edit-form">

<div class="box">
    <h4 class="title is-4 message-header">Edit post</h4>
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <textarea class="textarea" id="title">{{selectedPost.title}}</textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">Content</label>
        <div class="control">
            <textarea class="textarea" id="text">{{selectedPost.text}}</textarea>
        </div>
    </div>
</div>
<div class="field is-grouped">
    <p class="control">
        <button class="button is-link" type="submit">
            Save changes
        </button>
    </p>
    <p class="control">
        <button class="button" id="cancel">
            Cancel
        </button>
    </p>
    <p class="control">
        <button class="button is-danger" id="delete">
            Delete post
        </button>
    </p>
</div>
</form>

<script src="/js/editpost.js"></script>