<section class="container">
    <div class="card">

            <header class="card-header">
                <p class="card-header-title">
                    {{post.title}}
                </p>
                <div class="card-content">
                    <div class="content">
                        {{post.text}}
                    </div>
                </div>
                <footer class="card-footer">
                   <p> {{post.created_at}} </p>
                   <p> {{post.user.username}}</p>
                </footer>
    </div>
    
</section>