<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">


        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    HOME
                </a>

                <a class="navbar-item">
                    DASHBOARD
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a id="logout" class="button is-light">
                            Log out
                        </a>

                        <a id="login" href='/login' class="button is-primary">
                            <strong>Log in</strong>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-centered">
        <h1 class="title is-1 is-centered">Tech Blog</h1>
    </div>

    
    <!-- <div class="column">
        <h2 class="title is-3 is-full">my dashboard</h2>
    </div> -->

    <div class="card ">
        <div class="card-content">
            <p class="card-header title">
                Component
            </p>
            <div class="content">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at
                eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
                mattis consectetur purus sit amet fermentum.
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    Posted by NAME
                </span>
            </p>
            <p class="card-footer-item">
                <span>
                    DATE
                </span>
            </p>
        </footer>
    </div>
    <article class="message is-small">
        <div class="message-header">
            <p>Small message</p>
            <button class="delete is-small" aria-label="delete"></button>
        </div>
        <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis
            placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
            <em>eleifend lacus</em>, in mollis lectus.
        </div>
    </article>
    <div class="card ">
        <div class="card-content">
        
           
            <textarea class="textarea" placeholder="Add Comment"></textarea>
           

                <div class="buttons">
                    <button class="button is-success">Submit</button>
                    <button class="button is-danger">Cancel</button>
                </div>
            </div>
    </div>
</html>