<div class="card ">
    <div class="card-content">
        <p class="card-header message-header title">
            {{post.title}}
        </p>
        <div class="content">
          {{post.text}}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
              {{ post.user.username}}
            </span>
        </p>
        <p class="card-footer-item">
            <span>
               {{format_time post.created_at}}
            </span>
        </p>
    </footer>
</div>
<br>

<div class="block columns-is-centered">
{{#each post.comments}}
{{> comments-partial}}
{{/each}}
</div>

<div class="card-content">

<form class="comment-form">

    <textarea class="textarea" placeholder="Add Comment"></textarea>


    <div class="buttons">
        <button type="submit" class="button is-success">Submit</button>
        
    </div>
</div>
</form>
<script src="/js/createcomment.js"></script>
